// Place all the styles related to the Availabilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
	padding: 10px;
}

.rows{
	padding: 8px;
	text-align: center;
}

#newavailability {
    background-color: rgb(236, 27, 46);
    border-radius: 38px;
    color: blue;
    margin-left: 69%;
    padding: 2px 38px;
    font-color: white;
    display: inline-block;
    text-decoration: none;
}